.professor-form-grid {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-row {
  display: flex;
  gap: 1.2rem;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 900px) {
  .form-row {
    flex-direction: column;
    gap: 0.5rem;
  }
}
